Python Basics

In [1]:
5//2

2

In [2]:
5/2

2.5

In [3]:
4%2

0

In [4]:
5+3*2

11

In [5]:
(5+3)*2

16

In [6]:
type(4/2)

float

In [7]:
type(2)

int

In [8]:
type(2.5)

float

In [9]:
type('k')

str

In [11]:
a=10
b=20
c=a+b

In [12]:
type(c)

int

In [13]:
True

True

In [14]:
False

False

In [16]:
type(True or False)

bool

In [17]:
True| False

True

In [18]:
a=10
b=20
a+b>30 |a-b<10

True

In [19]:
a=10
b=20
a+b>30 |b-a<10

False

### Strings

In [21]:
type('Atish')

str

In [23]:
type("Atish")#Double quote

str

In [26]:
str(1)#Type cast

'1'

In [2]:
str1="Atish is Good"#Never use reserved keywords, error will occure as in 28

In [4]:
str

'Atish is Good'

In [5]:
str(1)

TypeError: 'str' object is not callable

In [3]:
print(str1)

Atish is Good

### String Operation

In [5]:
str1="A good boy"
str2="A Bad Boy"

In [6]:
print(str1)
print(str2)

A good boy
A Bad Boy

In [8]:
str1+ " "+str2

'A good boy A Bad Boy'

In [9]:
str1+str2

'A good boyA Bad Boy'

In [10]:
name=input("Enter Your Name")

Enter Your NameAtish

In [11]:
#Add 2 numbers
a=input("ENter number 1?")
b=input("ENter number 2?")
c=a+b
print("the output is ",c)

ENter number 1?23
ENter number 2?34
the output is  2334

In [12]:
#Add 2 numbers---> type cast
a=float(input("ENter number 1?"))
b=float(input("ENter number 2?"))
c=a+b
print("the output is ",c)

ENter number 1?21.5
ENter number 2?22.4
the output is  43.9

In [14]:
#String Formatting
first_name=input('wht is your first name?')
last_name=input('what is your last name?')
print('My first name is {firstname} and last name is {lastname}'.format(firstname=first_name, lastname=last_name))

wht is your first name?Atish
what is your last name?Londhe
My first name is Atish and last name is Londhe

In [15]:
#String Formatting
first_name=input('wht is your first name?')
last_name=input('what is your last name?')
print('My first name is {} and last name is {}'.format(first_name, last_name))

wht is your first name?Atish
what is your last name?Londhe
My first name is Atish and last name is Londhe

# Variable Dynamic Typing

In [16]:
a=10
type(a)

int

In [17]:
a=10.2
type(a)

float

In [18]:
a="Atish"
type(a)

str

#Automatic type declaration

#String Typing

In [1]:
"Atish"+str(1)

'Atish1'

In [2]:
1+int("2")

3

In [8]:
####Conditional Atatement
##If and elif
a=int(input("Enter the number1?"))

b=int(input("Enter the numbe21?"))
c=a-b
print("The output is ",c)
if c<0:
    
    print("Negative NUmber")
else:
    print("Positive number")

Enter the number1?10
Enter the numbe21?20
The output is  -10
Negative NUmber

In [ ]:
####Conditional Atatement
##If and elif
a=int(input("Enter the number1?"))

b=int(input("Enter the numbe21?"))
c=a-b
print("The output is ",c)
if c<0:
    
    print("Negative NUmber")
else:
    print("Positive number")

###Data Structures
1. List
2. Tuples
3. String
4. Dictionary
5. Sets

In [9]:
lst=[1,2,3,"Atish","Londhe" ]

In [12]:
type(lst)

list

In [13]:
list=[1,2,3,"Atish","Londhe"]

In [14]:
list

[1, 2, 3, 'Atish', 'Londhe']

In [15]:
list.append("Physist")

In [16]:
list

[1, 2, 3, 'Atish', 'Londhe', 'Physist']

In [17]:
list[2]="Data Scientist"

In [18]:
list

[1, 2, 'Data Scientist', 'Atish', 'Londhe', 'Physist']

In [19]:
list.append("Physist")
list.append("Physist")
list

[1, 2, 'Data Scientist', 'Atish', 'Londhe', 'Physist', 'Physist', 'Physist']

In [23]:
list.count("Physist")

3

In [24]:
#String i immutable, because the string can not be replace one or more items within the string
str1="Atish"
str1[3]="1"

TypeError: 'str' object does not support item assignment

In [25]:
#String i immutable, because the string can not be replace one or more items within the string
str1="Atish"
str1="1"

In [26]:
str1

'1'